
@media (min-width: 600px) {


    .cabecalho{
        display: flex;
        justify-content: space-evenly;
        height: 100px;
    }

    .cabecalho h1{
        align-self: center;
    }
    .cabecalho menu {
       display: none;
      
    }

    #nav{
        display: block;
        align-self: flex-end;
    }

    #nav ul{
        display: flex;
    }

    .cabecalho nav ul li a:hover{
        font-size: 1.5em;
       color: #c60c30;
       font-weight: bolder;
       transition: 0.5s;
    }

    /* Conteudo principal*/

    .principal{
        width: 800px;
        margin: auto; 
        padding: 5px;
        border: solid 1px black;
        border-radius: 10px;
        margin-top: 10px ;
        margin-bottom: 10px;
        box-shadow: 1px 1px 5px  black;
    }

    .imagem img{
        border: solid 1px #c60c316c;
    }

    h3{
        padding: 10px;
    }

    .ul-breaking-bad{
        display: flex;
        justify-content: center;
    }

    .ul-breaking-bad li{
        margin-top: 10px;
        padding: 10px;
        font-size: 20px;
        background-color:rgb(0, 136, 255);
        border-radius: 5px;
        margin-left: 10px;
        cursor: pointer;
    }

    /* Sessão index fotos*/

    .principal-fotos section{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
        background-color: #c60c30;
    }

  




}