/*Cabecalho*/

body{
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.144);
}


.cabecalho{
    text-align: center;
    background-color: #003478;
    border-bottom: solid 2px black;
}

.cabecalho h1{
    color: white;
    font-family: 'Press Start 2P', sans-serif;
}

.cabecalho .menu{
    margin-top:30px;
    width: 60px;
}
.cabecalho .menu:hover{
    width: 70px;
    transition: 0.5s;
}


#menu2{
    display: none;
}

.cabecalho nav{
    display: none;
   margin-top: 10px;
}
.cabecalho nav ul li{
    padding: 5px;
}

.cabecalho nav ul li a{
    font-size: 1.5em;
    padding: 5px;
    color: white;
}

.cabecalho nav ul li a:hover{
    font-size: 2em;
   color: #c60c30;
   font-weight: bolder;
   transition: 0.5s;
}

/* Principal */

.imagem{
    display: block;
    text-align: center;
}

.imagem img{
    width: 200px;
}

.principal h1{
    text-align: center;
    padding: 10px;
}

.principal h3{
    text-align: center;
    padding: 10px;
}

.principal article{
    padding: 10px;
}

.bordararticle{
    border-top: solid 1px #003478
}

.principal article p{
    display: inline-block;
    text-align: justify;
    line-height: 35px;
}

.principal article h2{
    text-align: center;
    padding: 10px;
}

.principal article p a{
    padding: 0px  5px 0px 5px;
    background-color: #003478;
    border-radius: 5px;
    color: white;
}

.principal article p a:hover{
    font-size: 1.5em;
    transition: 0.5s;
}

.r3ro{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.r3ro img {

    width: 250px;
    height: 150px;
    margin-top: 10px;
    border: solid 1px  #003478;

    border-radius: 50%;
}

.r3ro p {
    padding: 0px 0px 0px 10px;
    height: 40px;
}

/* */

/* Rodape */

.rodape{
    padding: 10px;
    background-color: #003478;
}

.rodape p{
    font-weight: lighter;
    text-align: center;
    color: white;
}
.rodape ul{
    margin: 20px;
    text-align: center;
}

.rodape ul li{
    display: inline-block;
}

.rede-sociais{
    width: 30px;
    border-radius: 5px;
    margin: 0px 0px 0px 10px;
}

.rede-sociais:hover{
    width: 50px;
    transition: 0.5s;

}

